@import './reset.css';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);


body{
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #282828;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.weather{
    width: 320px;
    border-radius: 16px;
    background: linear-gradient(167deg, #42d2a6 4.7%, #007991 95.98%), #389196;
}

*{
    border: 1px solid red; 
}

.form{
    margin: 30px 20px 10px;
    height: 40px;
    
    display: flex;
    align-items: stretch;

    border-radius: 60px;
    background-color: #fff;

}

.form__input{
    flex-grow: 1;
    padding-left: 20px;
    padding-right: 10px;
}

.form__input::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

.form__btn{
    padding:0 10px;
}

.weather__details{
    padding-top: 10px;
    padding-bottom: 60px;
    text-align: center;
}

.weather__img{
    width: 128px;
}

.weather__temp{
    color:#fff;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.weather__city{
    color:#fff;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}
