html{
    box-sizing: border-top;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    transition-timing-function: cubic-bezier(0.600, -0.200, 0.735, 0.045);
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    max-width: 100%;
}

:root{
    --base-color: rgb(254, 100, 64);
    --base-color-active: rgb(207, 77, 47);
    --black-text: rgb(36, 36, 36);
    --gray-text: rgb(63,63,63);
}

body{
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(7, 44, 84);
    color: var(--black-text);
}

.app__container{
    display: grid;
    grid-template-rows: 200px auto;
    margin: 0 auto;
    max-width: 580px;
    padding: 0 10px;
    height: 100vh;
    background-color: bisque;
    gap: 20px;
}

.app__container-top{
    background-color: rgb(196, 255, 221);
    align-self: flex-end;
}

.app__container-bottom{
    background-color: rgb(206, 196, 255);
}

.location-form{
    position:relative;
}

.location-form__input{
    display: block;
    width: 90%;
    padding: 10px 30px ;
    height: 64px;
    background-color: white;
    border:none;
    outline: none;
    border-radius: 34px;
    text-transform: uppercase;
    font-size: 18px;
    transition: box-shadow .3s;
}

.location-form__input:focus{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .2);
}